@import "../../assets/vars-and-mixins";

.distribution-graph {
  width: $distribution-graph-width;
  position: relative;
  border: $graphs-borders;
  height: $distribution-graph-height;
  .h2-titles {
    @include h2-titles;
  }
}
