@import "../../assets/vars-and-mixins";

.home {
  display: flex;
  margin: $globalVerticalMargin $globalHorizontalMargin;
  color: $mainColor4Text;
}

.home__graphsInSameRowContainer {
  display: flex;
}

.home__horizontal-graphs-margin {
  width: $horizontalMarginBetweenGraph;
}

// ------- Responsivity: ----------- //

// Mobiles:
@media screen and (min-width: $min4_mobiles) and (max-width: $max4_mobiles) {
  .home {
    flex-wrap: wrap;
  }
  .home__graphsInSameRowContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

// Tablets:
@media screen and (min-width: $min4_tablets) and (max-width: $max4_tablets) {
  .home {
    flex-wrap: wrap;
  }
  .home__graphsInSameRowContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .home__graphsInSameRowContainer.mostImportant-graph {
    margin-top: 3em;
  }
}

// Desktops:
@media screen and (min-width: $min4_desktops) {
  .home {
    height: calc(100vh - #{$globalVerticalMargin}*2);
    flex-direction: column;
  }
}
