@import "../../assets/vars-and-mixins";

.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$globalVerticalMargin}*2);
  margin: $globalVerticalMargin $globalHorizontalMargin;
  color: $mainColor4Text;
}

.home__graphsInSameRowContainer {
  display: flex;
}

.home__horizontal-graphs-margin {
  width: $horizontalMarginBetweenGraph;
}
