@import "../../assets/vars-and-mixins";

.mostImportant-graph {
  width: $mostImportant-graph-width;
  height: $mostImportant-graph-height;
  border: $graphs-borders;
  margin-top: $verticalMarginBetweenGraph;
}

.mostImportant-graph__h2-titles {
  @include h2-titles;
}

.mostImportant-graph__comparison-section {
  display: flex;
}
