// --------------- General var: --------------- //
$globalVerticalMargin: 0.8em;
$globalHorizontalMargin: 0.8em;

$verticalMarginBetweenGraph: 1em;
$horizontalMarginBetweenGraph: 1em;

$graphPadding: 1.5em;

$mainColor4Text: rgb(160,160,160);

$color1_4Graphs: rgb(30,160,125);
$color2_4Graphs: rgb(254,205,56);

// --------------- Others var: --------------- //
$fontSizeH1Titles: 1.5em;
$fontSizeH2Titles: 1.3em;
$verticalMarginH2Titles: .5em;

// --------------- Distribution-graph var: --------------- //
$distribution-graph-height: 36vh;

// --------------- MostImportant-graph var: --------------- //
$mostImportant-graph-height: calc(100vh - #{$distribution-graph-height} - #{$verticalMarginBetweenGraph} - #{$globalVerticalMargin} * 3 - #{$fontSizeH1Titles});


// ----------- Responsive touch: ---------------- //
// Gnal:
$min4_mobiles: 320px;
$max4_mobiles: 590px;
$min4_tablets: 591px;
$max4_tablets: 1024px;
$min4_desktops: 1025px;
// Distribution-graphs:
$distribution-graph-width_desktop: 50%;
$distribution-graph-width_mobiles: 100%;
// --------------- MostImportant-graph var: --------------- //
$mostImportant-graph-width_desktops: calc(100%/3);


// --------------- Mixins: --------------- //

@mixin h2-titles {
  margin: $verticalMarginH2Titles 0;
  font-size: $fontSizeH2Titles;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  text-align: center;
}
@mixin buttons {
  color: white;
  background-color: $mainColor4Text;
  padding: .5em 1.5em;
  border-radius: .3em;
  font-size: 1em;
  cursor: pointer;
  border-style: none;
  &:hover {
    background-color: $color2_4Graphs;
    color: $color1_4Graphs;
  }
}
