// --------------- General var: --------------- //
$globalVerticalMargin: 0.8em;
$globalHorizontalMargin: 0.8em;

$verticalMarginBetweenGraph: 1em;
$horizontalMarginBetweenGraph: 1em;

$graphPadding: 1.5em;

$mainColor4Text: rgb(155,155,160);

// --------------- Others var: --------------- //
$fontSizeH1Titles: 1.5em;
$fontSizeH2Titles: 1.3em;
$verticalMarginH2Titles: .5em;

// --------------- Distribution-graph var: --------------- //
$distribution-graph-width: 50%;
$distribution-graph-height: 50vh;

// --------------- MostImportant-graph var: --------------- //
$mostImportant-graph-width: calc(100%/3);
$mostImportant-graph-height: calc(100vh - #{$distribution-graph-height} - #{$verticalMarginBetweenGraph} - #{$globalVerticalMargin} * 3 - #{$fontSizeH1Titles});

// --------------- Mixins: --------------- //

@mixin h2-titles {
  margin: $verticalMarginH2Titles 0;
  font-size: $fontSizeH2Titles;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  text-align: center;
}
@mixin buttons {
  color: white;
  background-color: $mainColor4Text;
  padding: .5em 1.5em;
  border-radius: .3em;
  height: 34px;
  font-size: 1.1em;
  cursor: pointer;
  border-style: none;
  width: 196px;
  margin-right: 1em;
}

@mixin graphs-borders {
  border: solid 1px $mainColor4Text;
  border-radius: .3em;
}
